<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Reference - Blocklist</title>
    <link rel="icon" type="image/x-icon" href="/cd/favicon-color.png" />
    <script type="module" src="/js/rapidoc-min.js"></script>
</head>
<body>
    <rapi-doc
        spec-url="/openapi.json"
        theme="dark"
        bg-color="#000"
        text-color="#fff"
        primary-color="#ff0000"
        show-header="false"
        render-style="read"
    > </rapi-doc>
</body>
</html>