<a href="/threat-map" class="btn btn-dark" style="min-width: 120px;"{{ if eq .active_page "threat-map" }} aria-current="page"{{ end }}>Threat Map</a>
<a href="/whitelist" class="btn btn-dark" style="min-width: 120px;">Whitelist</a>
<a href="/excluded" class="btn btn-dark" style="min-width: 120px;">Excluded</a>
<a href="/audit-logs" class="btn btn-dark" style="min-width: 120px;">Audit Logs</a>
<a href="/settings" class="btn btn-dark" style="min-width: 120px;">Settings</a>
<a href="/docs" class="btn btn-dark" style="min-width: 120px;">API Docs</a>
{{ if or (eq .username .admin_username) (contains .permissions "manage_admins") }}
<a href="/admin_management" class="btn btn-dark" style="min-width: 120px;">Admins</a>
{{ end }}
