services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.go
    ports:
      - "5000:5000"
    environment:
      TZ: "Europe/Vienna"
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      REDIS_LIM_DB: 1
      POSTGRES_URL: "postgres://postgres:password@postgres:5432/blocklist?sslmode=disable"
      LOGWEB: "true"
      SECRET_KEY: "XXXXXXXX---SECRET_KEY----"
      BLOCKED_RANGES: "127.0.0.1/32, 0.0.0.0/32, 192.168.0.0/16, 10.0.0.0/8, 172.12.0.0/12"
      GUIAdmin: admin
      GUIPassword: "XXXXXXXX---SECRET_PASSWORD----"
      GUIToken: XXXXXXXX---SECRET_TOKEN----
      GEOIPUPDATE_ACCOUNT_ID: "XXXXXX"
      GEOIPUPDATE_LICENSE_KEY: "XXXXXXXX---SECRET_LICENSEKEY----"
      TRUSTED_PROXIES: "127.0.0.1,172.16.0.0/12" # Trust Docker network by default
      USE_CLOUDFLARE: "false"
      PORT: "5000"
    volumes:
      - './geoip_data:/usr/share/GeoIP'
    depends_on:
      - redis
      - postgres
    restart: unless-stopped

  redis:
    image: "redis:alpine"
    restart: unless-stopped

  postgres:
    image: "postgres:16-alpine"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: blocklist
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
